# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules
node_modules/

# testing
/coverage
lib
lib/
lib-amd
lib-amd/
lib-es2015
lib-es2015/

# production
/build

# misc
.ci_failed
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.jshintignore
.jshintrc

# Editor
.idea
.idea/
.vscode

# Log files from building
*.log

# Packages
common/**/package-lock.json
scripts/**/package-lock.json
src/**/package-lock.json
package-lock.json

common/**/package-deps.json
scripts/**/package-deps.json
src/**/package-deps.json
package-deps.json

common/**/yarn.lock
scripts/**/yarn.lock
src/**/yarn.lock
